<% layout("/layouts/boilerplate") %>

<div class="row show-box">
    <h3 class="border-bottom pb-2"><%= listing.title %></h3>
    
    <div class="card col-md-6 listing-card">
      <img src="<%= listing.image %>" class="card-img-top" alt="listing-img">
    </div>
    
    <div class="card col-md-6 show-items listing-card">
        <i>Owned by : <%= listing.owner.username %></i>
        <div>
            <%= listing.desc %>
        </div>
        State : <%= listing.state %> <br>
        Location : <%= listing.location %> <br>
        Capacity : <%= listing.capacity %> <br>
        Price : &#8377; <%= listing.price.toLocaleString("en-IN") %> <!-- show in indian rupee style with ',' (num.toLocaleString("en-IN"))-->

        <!-- Hide buttons for unauthorized users -->
        <% if (currUser && currUser._id.equals(listing.owner._id)) { %>
            <div class="btns">
                <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark ps-4 pe-4">Edit</a>
                
                <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        <% } %>

    </div>
    
    
    <!-- Review form -->
    <% if (currUser) { %>  <!-- Show review form only if logged in -->
        <hr>
        <h4><u><b>Leave a review</b></u></h4>
        <form action="/listings/<%= listing._id %>/reviews" method="POST" class="needs-validation" novalidate>
            <div>
                <label for="rating" class="form-label">Rating</label>
                <input type="range" name="review[rating]" class="form-range" id="rating" min="1" max="5">
            </div>
            <div>
                <label for="comment" class="form-label">Add Comment</label>
                <textarea name="review[comment]" class="form-control" id="comment" required placeholder="Share experience about this housing..."></textarea>

                <div class="invalid-feedback">Please leave your experience before submitting the form</div>
            </div>
            <button class="btn btn-warning mt-2 mb-2">Submit</button>
        </form>
    <% } %>

    <hr>

    <!-- Reviews list -->
    <h4><u><b>All Reviews</b></u></h4>
    <div class="row">
        <% for(review of listing.reviews) { %>
            <div class="card col-md-5 m-1">
                <div class="card-body">
                    <h5 class="card-title"><%= review.author.username %></h5>
                    <h6 class="card-text"><%= review.comment %></h6>
                    <p class="card-text">Rating : <%= review.rating %> Stars</p>
                </div>

                <% if(currUser && currUser._id.equals(review.author._id)) { %>
                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" class="mb-3">
                        <button class="btn btn-sm btn-dark">Delete</button>
                    </form>
                <% } %>
            </div>
        <% } %>
    </div>
</div>